@font-face {
  font-family: "iranYekan";
  src: url("../assets/fonts/Qs_Iranyekan.ttf");
}

body {
  font-family: "iranYekan";
  direction: rtl;
}

.Toastify__toast-body { font-family: 'iranYekan'; }

.pagination {
  direction: rtl;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.pagination > li {
  color: white;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color:#FEDE31;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pagination  .active {
  color: white;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color:#FEDE31;
  border: 3px solid gray;
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* .page-num 
{
  background-color: bisque;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
} */
